html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url(image/Sid_Meiers_Civilization_Beyond_Earth_Background_Blue_Space.jpg);
    background-position: center;
}

#board {
    background-color: darkorange;
    position: absolute;
    height: 850px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -425px;
    margin-left: -250px;
    background-image: url(image/stars-pixel-desktop-background-space-resolutions-wallpapers-wallpaper-large.jpg);
    background-position: left;
}
    
#player{
    height: 32px;
    width: 32px;
    position: absolute;
    margin-left: -16px;
    margin-top: -16px;
    background-image: url(./image/rsz_1ship.png);
    background-size: 100% 100%;
}

.bullet{
    height: 10px;
    width: 6px; 
    position: absolute;
    margin-left: -3px;
    margin-top: -5px;
    background-color: green;
}

.enemyOne{
    height: 32px;
    width: 32px;
    position: absolute;
    margin-left: -16px;
    margin-top: -16px;
    background-color: grey;
}

/*#enemyTwo{
    height: 64px;
    width: 64px;
    position: absolute;
    margin-left: -32px;
    margin-top: -32px;
    background-color: grey;
}

#enemyThree{
    height: 128px;
    width: 128px;
    position: absolute;
    margin-left: -64px;
    margin-top: -64px;
    background-color: grey;
}

#enemyBullet {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: black;
}*/